C_INFO_1 CURSOR "C_Info_1.cur"
C_INFO_2 CURSOR "C_Info_2.cur"
C_INFO_3 CURSOR "C_Info_3_1.cur"
C_INFO_4 CURSOR "C_Info_4_1.cur"
C_INFO_5 CURSOR "C_Info_5_1.cur"
C_PALETTE_BRUSH_1 CURSOR "C_Brush_1.cur"